---
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"blog">["data"];
const { title, number, author, pubDate } = Astro.props;

import Layout from "./Layout.astro";
import Header from "@components/Header.astro";
import BlogHeader from "@components/BlogHeader/BlogHeader.astro";
import BlogBackNext from "@components/BlogBackNext/BlogBackNext.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`${number} ${title}`}>
  <Header />
  <div class="BlogPost">
    <div class="NavMain">
      <main>
        <!-- .jdcontent picks up global styling -->
        <div class="jdcontent">
          <h1>{title}</h1>
          <slot />
        </div>
        <BlogBackNext />
      </main>
      <BlogHeader id={number} date={pubDate.toDateString()} />
    </div>
  </div>

  <Footer />
</Layout>

<style lang="scss" is:global>
  @use "/src/styles/johnny" as *;

  .BlogPost {
    @include for-tablet-portrait-up {
      padding-bottom: 4rem;
    }

    .NavMain h1:first-of-type {
      margin-top: 0;
      margin-bottom: $xl;
    }

    main {
      grid-area: main;
    }

    .NavMain {
      display: grid;
      grid-template-areas:
        "main"
        "nav";
      max-width: $site-width;
      margin: 0 auto;

      @include for-tablet-landscape-up() {
        grid-template-areas: "nav main";
        grid-template-columns: 350px auto;
        gap: $large;
      }

      @include for-print() {
        grid-template-areas: "main";
        grid-template-columns: 1fr;
      }
    }
  }
</style>
