---
import { pagesGlobToRssItems } from "@astrojs/rss";
import { CollectionEntry, getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) =>
  // In DEV, return everything; otherwise, return data.publish.
  import.meta.env.DEV ? true : data.publish
);

// We publish with oldest (21.01.0001) last.
blogPosts.reverse();

type Props = CollectionEntry<"blog">;
---

<div class="LatestPosts">
  {
    blogPosts.map(async (post) => {
      const { Content, headings } = await post.render();

      const postSlug =
        "/20-29-communication/22-blog/" +
        post.slug.replace(/(\d\d)(\d\d)(.*)/, "$1.$2.$3/");

      return (
        <article class="blog-post">
          <div class="header">
            <a class="blog-post-link" href={postSlug}>
              <h1 class="blog-post-title">
                <span>{post.data.title}</span>
                <span class="blog-post-title-arrows">»</span>
              </h1>
            </a>
            <div class="below-title">
              <span class="date">
                <time datetime={post.data.pubDate.toDateString()}>
                  {post.data.pubDate.toDateString()}
                </time>
              </span>
              <span>/</span>
              <span>[{post.data.number}]</span>
            </div>
          </div>
          <Content />
          <div class="end-of-post">≡</div>
        </article>
      );
    })
  }
</div>

<style lang="scss" is:global>
  // Global required to affect <Content />.
  // Everything must be contained in article.blog-post.
  @use "/src/styles/johnny" as *;

  .LatestPosts {
    margin-bottom: $xxxl;
  }

  article.blog-post {
    margin-bottom: $xl;

    .header a.blog-post-link {
      text-decoration: none;
      &:hover,
      &:hover:visited {
        h1 {
          background-color: $colour-500;
          color: $colour-50;
        }
      }

      &:visited .blog-post-title-arrows {
        color: $colour-50;
      }
      &:hover .blog-post-title-arrows {
        color: $colour-500;
      }
    }

    h1 {
      font-size: 2.2rem;
      border-bottom: 2px solid;

      &.blog-post-title {
        color: $colour-500;
        display: grid;
        gap: $small;
        grid-template-columns: auto min-content;
        font-size: 2.6rem;
        border-bottom: 3px solid;
        margin-bottom: 1rem;
      }
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.8rem;
      font-weight: bold;
    }

    p {
      color: $colour-800;

      &.date {
        font-size: 1.3rem;
        margin: $tiny 0;
      }
    }

    .below-title {
      font-family: $monospace;
      font-size: 1.4rem;
      color: $colour-600;
    }

    .end-of-post {
      color: $colour-500;
      font-family: $monospace;
      text-align: center;
      margin: $xl auto;
    }
    &:last-child .end-of-post {
      display: none;
    }

    hr {
      width: 65%;
    }
  }
</style>
